body {
  margin: 0;
  background: #EEEDEB;
  color: #111827;
}


.card {
  background: white;
  border-radius: 24px;
  padding: 25px;
  margin-bottom: 25px;
  box-shadow: 0 8px 20px rgba(0,0,0,.08);
}



.timer-buttons button {
  flex: 1;
  background: #DAD7D2;
}



/* START SHIFT */

.start-button {
  width: 100%;
  background: #DD0033;
  color: white;
  font-size: 28px;
  margin-bottom: 25px;
}



/* POSITION BUTTONS */

.position-card button {
  width: 100%;
  background: #DD0033;
  color: white;
}



/* MANAGER BUTTONS */

.manager-actions button {
  flex:1;
  background:#DD0033;
  color:white;
}


.manager-actions button:last-child {
  background:#940929;
}



/* STATUS COLORS */

.green {
  border-left: 12px solid #249E6B;
}


.yellow {
  border-left: 12px solid #FFB549;
}


.red {
  border-left: 12px solid #940929;
  background:#EEEDEB;
}



/* ATTENTION BANNER */

#attentionBanner {
  border-radius:18px;
  padding:20px;
  font-size:24px;
  font-weight:700;
  text-align:center;
  margin-top:20px;
}
